/*CSS General y Template Clientes*/

/*ALERTA CANTIDAD CLIENTES*/
.alert-info{
	width: 30% !important;
}
/*No es recomendable usar IMPORTANT*/
.alert-warning{
	width: 60% !important;
}
/*TABLA CLIENTES */
.clientes tr:first-child td{
	font-weight: bold;
	font-size: 18px;
	border: solid #ccc 2px;
	background-image: -webkit-linear-gradient(top, #17A589, #17A589);
	background-image: -moz-linear-gradient(top, #17A589, #17A589);
	background-image: -ms-linear-gradient(top, #17A589, #17A589);
	background-image: -o-linear-gradient(top, #17A589, #17A589);
	background-image: linear-gradient(to bottom, #17A589, #17A589);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
/*TABLA USUARIOS*/
.secret tr:first-child td{
	color:white;
	font-weight: bold;
	font-size: 18px;
	border: solid #ccc 1px;
	background-image: -webkit-linear-gradient(top, #17A589, #17A589);
	background-image: -moz-linear-gradient(top, #17A589, #17A589);
	background-image: -ms-linear-gradient(top, #17A589, #17A589);
	background-image: -o-linear-gradient(top, #17A589, #17A589);
	background-image: linear-gradient(to bottom, #17A589, #17A589);
}
.secret tr:second-child td{
color:white;
	font-weight: bold;
	font-size: 18px;
	border: solid #ccc 1px;
	background-image: -webkit-linear-gradient(top, #17A589, #17A589);
	background-image: -moz-linear-gradient(top, #17A589, #17A589);
	background-image: -ms-linear-gradient(top, #17A589, #17A589);
	background-image: -o-linear-gradient(top, #17A589, #17A589);
	background-image: linear-gradient(to bottom, #17A589, #17A589);
	}
.secret{
	width:20%;
}
p{
    font-family: verdana;
    font-size: 15px;
}
body{
	background: white
}
