{% extends "base.html" %}

{% block title %}TOP SECRET{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="page-header">
    <h2 class="alert alert-warning" role="alert">INFORMACIÓN ULTRA MEGA SECRETA</h2>
<h3>DB Usuarios existentes</h3>
<table class="table table-bordered table-condensed secretTable">
			<tbody>
				 {% for row in lista %}
				<tr>
               {% for item in  row %}
                    <td class="active">                
                        {{item}}
                    </td>
                    {% endfor %}
                 </tr>
                {% endfor %}
            </tbody>
</table>
</div>
{% endblock %}
